


<h1 class="text-center" style="font-family: Arial, Helvetica, sans-serif">¡Tu matriculación ha sido exitoso! Por favor, ve a la secretaría del instituto para su validación.</h1>
<center>
    <img src="https://i.pinimg.com/564x/ce/dd/24/cedd24ecaaedfb3c9d9d25b85180aec1.jpg" style="width: 65%; border-radius: 20px;" />
</center>

<center>
    <a class="btn btn-primary m-4" asp-controller="Home" asp-action="Index">Volver al inicio</a>
</center>