@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">¡Bienvenidos al Instituto Ejemplar!</h1>
    <hr />
    <p class="text-secondary justify-content-around">El Instituto Ejemplar es más que un lugar de aprendizaje; es un espacio donde se forman los líderes del mañana, 
        con una educación integral que abarca tanto el conocimiento académico como el desarrollo de valores humanos esenciales.</p>
    <center>
        <img class="img-fluid" src="https://i.pinimg.com/564x/83/a0/c8/83a0c85152a6835c2dc5b9b4c6dd886a.jpg" style="border-radius: 20px"/>
        <figcaption>
            <a class="btn btn-primary m-2" asp-action="Create" asp-controller="Estudiantes"><h3>¡Inscríbite!</h3></a>
        </figcaption>
        
    </center>
    
    <fieldset class="m-4" style="border: dotted">
        <legend>Sobre Nosotros</legend>
        <p style="text-align: justify" class="text-secondary m-2">
            El Instituto Ejemplar es una institución educativa de prestigio, conocida por su compromiso con la excelencia académica, el desarrollo integral de sus estudiantes y la innovación en métodos de enseñanza. Fundado con la misión de formar líderes responsables y ciudadanos comprometidos, el Instituto Ejemplar se distingue por su enfoque personalizado en la educación, donde cada estudiante es valorado por sus talentos y habilidades únicas.

            El cuerpo docente del Instituto Ejemplar está compuesto por profesionales altamente cualificados y apasionados por la enseñanza, que no solo imparten conocimientos, sino que también inspiran a los estudiantes a pensar críticamente, resolver problemas de manera creativa y a trabajar en equipo.

            Además de la excelencia académica, el Instituto Ejemplar promueve valores fundamentales como la ética, la solidaridad, el respeto por la diversidad y la responsabilidad social. A través de programas de servicio comunitario y actividades extracurriculares, los estudiantes aprenden la importancia de contribuir positivamente a la sociedad.
        </p>
    </fieldset>
    
</div>
